body {
	background-image: url(http://2.bp.blogspot.com/_EZ16vWYvHHg/S9hpB2TcrCI/AAAAAAAALeY/lKm4unR17JY/s1600/www.BancodeImagenesGratuitas.com-Sicodelicas-28.jpg);  
   text-align: center; 
	font-family: Verdana sans-serif;
	font-size: 30px;
   font-style: normal;
   font-weight:bold;
   color: #00FFFF;
}

h1 {
	font-family: Georgia, serif;
   font-size: 60px;
   font-style: oblique;
   color: #A9A9F5;
   text-shadow: white 4px -4px 4px;
}
